<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fly_blue0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{94,85}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,85}}</string>
                <key>sourceSize</key>
                <string>{114,93}</string>
            </dict>
            <key>fly_blue0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,377},{94,79}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{94,79}}</string>
                <key>sourceSize</key>
                <string>{114,93}</string>
            </dict>
            <key>fly_blue0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{96,75}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{96,75}}</string>
                <key>sourceSize</key>
                <string>{114,93}</string>
            </dict>
            <key>fly_blue0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,292},{96,71}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{96,71}}</string>
                <key>sourceSize</key>
                <string>{114,93}</string>
            </dict>
            <key>fly_blue0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{96,67}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{96,67}}</string>
                <key>sourceSize</key>
                <string>{114,93}</string>
            </dict>
            <key>fly_blue0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,162},{98,63}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{98,63}}</string>
                <key>sourceSize</key>
                <string>{114,93}</string>
            </dict>
            <key>fly_blue0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,227},{98,63}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{98,63}}</string>
                <key>sourceSize</key>
                <string>{114,93}</string>
            </dict>
            <key>fly_blue0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{102,67}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{102,67}}</string>
                <key>sourceSize</key>
                <string>{114,93}</string>
            </dict>
            <key>fly_blue0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{104,71}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{104,71}}</string>
                <key>sourceSize</key>
                <string>{114,93}</string>
            </dict>
            <key>fly_blue0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,85},{108,75}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{108,75}}</string>
                <key>sourceSize</key>
                <string>{114,93}</string>
            </dict>
            <key>fly_blue0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{112,81}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,81}}</string>
                <key>sourceSize</key>
                <string>{114,93}</string>
            </dict>
            <key>fly_blue0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,85}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{114,85}}</string>
                <key>sourceSize</key>
                <string>{114,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fly_blue.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:731e2d3afc5995aec6e50e4410a993ac:1/1$</string>
            <key>textureFileName</key>
            <string>fly_blue.png</string>
        </dict>
    </dict>
</plist>
