<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bianse0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{89,87}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{89,87}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>bianse0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{89,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,87}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>bianse0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{89,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{89,89}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>bianse0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{89,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{89,89}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>bianse0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{89,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{89,87}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>bianse0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{89,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{89,87}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>bianse0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{89,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{89,87}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>bianse0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{89,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{89,85}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>bianse0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{91,85}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>bianse0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{89,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{89,85}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>bianse0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{89,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,87}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>bianse0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{89,87}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{89,87}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bianse.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c2880b6e7a9dedd4aebd398048ad6e2:1/1$</string>
            <key>textureFileName</key>
            <string>bianse.png</string>
        </dict>
    </dict>
</plist>
