<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>texiao0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{60,11}}</string>
                <key>offset</key>
                <string>{-1,162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,46},{60,11}}</string>
                <key>sourceSize</key>
                <string>{222,427}</string>
            </dict>
            <key>texiao0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,231},{102,17}}</string>
                <key>offset</key>
                <string>{-1,162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,43},{102,17}}</string>
                <key>sourceSize</key>
                <string>{222,427}</string>
            </dict>
            <key>texiao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,67},{162,67}}</string>
                <key>offset</key>
                <string>{-3,148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,32},{162,67}}</string>
                <key>sourceSize</key>
                <string>{222,427}</string>
            </dict>
            <key>texiao0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,63}}</string>
                <key>offset</key>
                <string>{-1,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,36},{188,63}}</string>
                <key>sourceSize</key>
                <string>{222,427}</string>
            </dict>
            <key>texiao0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,67},{162,77}}</string>
                <key>offset</key>
                <string>{-3,154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,21},{162,77}}</string>
                <key>sourceSize</key>
                <string>{222,427}</string>
            </dict>
            <key>texiao0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{162,97}}</string>
                <key>offset</key>
                <string>{-3,165}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{162,97}}</string>
                <key>sourceSize</key>
                <string>{222,427}</string>
            </dict>
            <key>texiao0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{22,23}}</string>
                <key>offset</key>
                <string>{-3,172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,30},{22,23}}</string>
                <key>sourceSize</key>
                <string>{222,427}</string>
            </dict>
            <key>texiao0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{22,23}}</string>
                <key>offset</key>
                <string>{-3,178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,24},{22,23}}</string>
                <key>sourceSize</key>
                <string>{222,427}</string>
            </dict>
            <key>texiao0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,231},{22,21}}</string>
                <key>offset</key>
                <string>{-3,161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,42},{22,21}}</string>
                <key>sourceSize</key>
                <string>{222,427}</string>
            </dict>
            <key>texiao0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,231},{22,21}}</string>
                <key>offset</key>
                <string>{-3,165}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,38},{22,21}}</string>
                <key>sourceSize</key>
                <string>{222,427}</string>
            </dict>
            <key>texiao0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{22,23}}</string>
                <key>offset</key>
                <string>{-3,157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,45},{22,23}}</string>
                <key>sourceSize</key>
                <string>{222,427}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>column_coll_effect.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09208d26e8a55d649338ef5ac5098d69:1/1$</string>
            <key>textureFileName</key>
            <string>column_coll_effect.png</string>
        </dict>
    </dict>
</plist>
